$blue: #3b74b4;
$white: #fff;
$grey: #e4e4e4;
$secondary-white: #f7f7f7;
$green: #67b930;
$dark-green: #407020;
$normal-grey: #616161;
$light-grey: #8d8d8d;
$dark-grey: #2b2b2b;
$red: #c72727;

.for_form > div {
  width: 80%;
  min-width: 250px;
}

.success,
.error,
.notice,
.empty {
  background-color: $white;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-style: italic;
}

.success {
  color: $green;
}

.error {
  color: $red;
}

.notice {
  color: $blue;
}

.empty {
  color: $light-grey;
  margin-top: 0.5rem;
}
